flows.json
[{"id":"ae81817e.78941","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f7cab0e5.03f8a","type":"debug","z":"ae81817e.78941","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"e7900906.d235f8","type":"inject","z":"ae81817e.78941","name":"SHANKARA NARAYANAN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":100,"wires":[["f7cab0e5.03f8a"]]},{"id":"a1ac083f.a48038","type":"ibmiot in","z":"ae81817e.78941","authentication":"apiKey","apiKey":"6b7d7ce7.491354","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"wsb123","applicationId":"","deviceType":"WEARABLESMARTBAND","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":300,"wires":[["807873ad.d179d","a93a7390.56aa4"]]},{"id":"807873ad.d179d","type":"function","z":"ae81817e.78941","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":200,"wires":[["f7cab0e5.03f8a","ebe14d20.5d89b"]]},{"id":"a93a7390.56aa4","type":"function","z":"ae81817e.78941","name":"Ratepulse","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":300,"wires":[["f7cab0e5.03f8a","6b2f66ac.0f0cc8"]]},{"id":"ebe14d20.5d89b","type":"ui_gauge","z":"ae81817e.78941","name":"","group":"d6b6795.d607588","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":220,"wires":[]},{"id":"6b2f66ac.0f0cc8","type":"ui_gauge","z":"ae81817e.78941","name":"","group":"d6b6795.d607588","order":2,"width":0,"height":0,"gtype":"gage","title":"Ratepulse","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":320,"wires":[]},{"id":"d2a3c1c0.4ed46","type":"ui_button","z":"ae81817e.78941","name":"","group":"d6b6795.d607588","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":330,"y":600,"wires":[["5310d6e3.ac3438"]]},{"id":"31c16965.f6f116","type":"ui_button","z":"ae81817e.78941","name":"","group":"d6b6795.d607588","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":330,"y":520,"wires":[["5310d6e3.ac3438"]]},{"id":"5310d6e3.ac3438","type":"ibmiot out","z":"ae81817e.78941","authentication":"apiKey","apiKey":"6b7d7ce7.491354","outputType":"cmd","deviceId":"wsb123","deviceType":"WEARABLESMARTBAND","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":850,"y":520,"wires":[]},{"id":"5dd3eb3f.40e914","type":"http in","z":"ae81817e.78941","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":420,"wires":[["bcf73460.0644e8"]]},{"id":"4bcd521.0b2c6ac","type":"http response","z":"ae81817e.78941","name":"","statusCode":"","headers":{},"x":760,"y":420,"wires":[]},{"id":"bcf73460.0644e8","type":"function","z":"ae81817e.78941","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":420,"wires":[["4bcd521.0b2c6ac"]]},{"id":"6b7d7ce7.491354","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d6b6795.d607588","type":"ui_group","z":"","name":"Default","tab":"14eb1968.6ec177","order":1,"disp":true,"width":"6","collapse":false},{"id":"14eb1968.6ec177","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]